<table>
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Category</th>
        <th>Priority</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Sprint1</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>Dataset</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Searching appropriate datasets</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Contacting datasets owner</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Investigating found datasets</td>
        <td>Research</td>
        <td>Low</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td><strong>Reports</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Project Proposal</td>
        <td>Report</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Project Specifications Report</td>
        <td>Report</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Analysis Report</td>
        <td>Report</td>
        <td>Medium</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td>High-Level Design Report</td>
        <td>Report</td>
        <td>Low</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td><strong>Literature Reviewing</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Finding relative papers according to subject</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Reading found papers</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Searching promising techniques</td>
        <td>Research</td>
        <td>Medium</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td><strong>GUI</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Research on GUI Builders</td>
        <td>Research</td>
        <td>Low</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td>Designing GUI</td>
        <td>Implementation</td>
        <td>Low</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td>Implementing GUI</td>
        <td>Implementation</td>
        <td>Low</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td><strong>Implementation</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Finding appropriate classifiers</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Implementing classifiers</td>
        <td>Implementation</td>
        <td>Medium</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td><strong>Training Model</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Research on Haar, LBP</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Research on OpenCV</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>Sprint2</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>Dataset</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Searching appropriate datasets</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Contacting datasets owner</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Investigating found datasets</td>
        <td>Research</td>
        <td>Medium</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td><strong>Reports</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Project Proposal</td>
        <td>Report</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Project Specifications Report</td>
        <td>Report</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Analysis Report</td>
        <td>Report</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>High-Level Design Report</td>
        <td>Report</td>
        <td>Low</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td><strong>Literature Reviewing</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Finding relative papers according to subject</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Reading found papers</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Searching promising techniques</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>GUI</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Research on GUI Builders</td>
        <td>Research</td>
        <td>Low</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td>Designing GUI</td>
        <td>Implementation</td>
        <td>Low</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td>Implementing GUI</td>
        <td>Implementation</td>
        <td>Low</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td><strong>Implementation</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Finding appropriate classifiers</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Implementing classifiers</td>
        <td>Implementation</td>
        <td>Medium</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Detect and Track Face and Eye</td>
        <td>Implementation</td>
        <td>High</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td><strong>Training Model</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Research on Haar, LBP</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Research on OpenCV</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>Sprint3</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>Dataset</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Searching appropriate datasets</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Contacting datasets owner</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Investigating found datasets</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Training using datasets</td>
        <td>Implementation</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>Reports</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Project Proposal</td>
        <td>Report</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Project Specifications Report</td>
        <td>Report</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Analysis Report</td>
        <td>Report</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>High-Level Design Report</td>
        <td>Report</td>
        <td>Medium</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td><strong>Literature Reviewing</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Finding relative papers according to subject</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Reading found papers</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Searching promising techniques</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>GUI</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Research on GUI Builders</td>
        <td>Research</td>
        <td>Low</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td>Designing GUI</td>
        <td>Implementation</td>
        <td>Low</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td>Implementing GUI</td>
        <td>Implementation</td>
        <td>Low</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td><strong>Implementation</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Finding appropriate classifiers</td>
        <td>Research</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Implementing classifiers</td>
        <td>Implementation</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Detect and Track Face and Eye</td>
        <td>Implementation</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>Training Model</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Research on Haar, LBP</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Research on OpenCV</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Research on svm</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>Demo</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Deciding demo video for presentation</td>
        <td>Decision</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>Sprint4</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Searching appropriate datasets</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Contacting datasets owner</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Investigating found datasets</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Training using datasets</td>
        <td>Implementation</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>Reports</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Project Proposal</td>
        <td>Report</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Project Specifications Report</td>
        <td>Report</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Analysis Report</td>
        <td>Report</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>High-Level Design Report</td>
        <td>Report</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>Literature Reviewing</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Finding relative papers according to subject</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Reading found papers</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Searching promising techniques</td>
        <td>Research</td>
        <td>Medium</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>GUI</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Research on GUI Builders</td>
        <td>Research</td>
        <td>Medium</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Designing GUI</td>
        <td>Implementation</td>
        <td>Medium</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Implementing GUI</td>
        <td>Implementation</td>
        <td>Medium</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>Implementation</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Finding appropriate classifiers</td>
        <td>Research</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Implementing classifiers</td>
        <td>Implementation</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Detect and Track Face and Eye</td>
        <td>Implementation</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Training</td>
        <td>Implementation</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>Training Model</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Research on Haar, LBP</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Research on OpenCV</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Research on svm</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Research on anomaly detection</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>Demo</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Deciding demo video for presentation</td>
        <td>Decision</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
    </tbody>
  </table>