| **aTask Name** | **Category** | **Priority** | **Status** |
| --- | --- | --- | --- |
| **Sprint2** |
| **Dataset** |
| Searching appropriate datasets | Research | High | In progress |
| Contacting datasets owner | Research | High | In progress |
| Investigating found datasets | Research | High | In progress |
| **Reports** |
| Low-Level Design Report | Report | High | Completed |
| Low-Level Design Report Updated | Report | High | Completed |
| Test-Plan Report | Report | Medium | In progress |
| Final Report | Report | Low | Not started |
| **Literature Reviewing** |
| Finding relative papers according to subject | Research | High | In progress |
| Reading found papers | Research | High | In progress |
| Searching promising techniques | Research | High | In progress |
| **GUI** |
| Research on GUI Builders | Research | Medium | In progress |
| Designing GUI | Implementation | Medium | In progress |
| Implementing GUI | Implementation | Medium | In progress |
| **Implementation** |
| Finding appropriate classifiers | Research | High | Completed |
| Implementing classifiers | Implementation | High | Completed |
| Detection &amp; Tracking of Face and Eye | Implementation | High | Completed |
| Counting Eye Blink | Implementation | High | Completed |
| Training for different eye aspect ratios | Implementation | High | In progress |
| Anomaly Detection for blinking | Implementation | Medium | Not Started |
| Detection of Mouth | Implementation | Medium | Not Started |
| Mouth Aspect Ratio | Implementation | Medium | Not Started |
| **Training Model** |
| Research on Haar, LBP | Research | High | In progress |
| Research on OpenCV | Research | High | In progress |
| Research on SVM | Research | High | In progress |
| Research on Anomaly Detection | Research | High | In progress |
| **Demo** |
| Preparing Demo | Decision | Low | Not Started |