<table>
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Category</th>
        <th>Priority</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Dataset</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Searching appropriate datasets</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Contacting datasets owner</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Investigating found datasets</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>Reports</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Low-Level Design Report</td>
        <td>Report</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Low-Level Design Report Updated</td>
        <td>Report</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Test-Plan Report</td>
        <td>Report</td>
        <td>Medium</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Final Report</td>
        <td>Report</td>
        <td>Low</td>
        <td>Not started</td>
      </tr>
      <tr>
        <td><strong>Literature Reviewing</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Finding relative papers according to subject</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Reading found papers</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Searching promising techniques</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>GUI</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Research on GUI Builders</td>
        <td>Research</td>
        <td>Medium</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Designing GUI</td>
        <td>Implementation</td>
        <td>Medium</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Implementing GUI</td>
        <td>Implementation</td>
        <td>Medium</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>Implementation</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Finding appropriate classifiers</td>
        <td>Research</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Implementing classifiers</td>
        <td>Implementation</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Detection &amp; Tracking of Face and Eye</td>
        <td>Implementation</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      
      <tr>
        <td>Counting Eye Blink</td>
        <td>Implementation</td>
        <td>High</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Training for different eye aspect ratios</td>
        <td>Implementation</td>
        <td>High</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Anomaly Detection for blinking</td>
        <td>Implementation</td>
        <td>Medium</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Detection of Mouth</td>
        <td>Implementation</td>
        <td>Medium</td>
        <td>Not Started</td>
      </tr>
      <tr>
        <td>Mouth Aspect Ratio</td>
        <td>Implementation</td>
        <td>Medium</td>
        <td>Not Started</td>
      </tr>
      




      <tr>
        <td><strong>Training Model</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Research on Haar, LBP</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Research on OpenCV</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Research on SVM</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td>Research on Anomaly Detection</td>
        <td>Research</td>
        <td>High</td>
        <td>In progress</td>
      </tr>
      <tr>
        <td><strong>Demo</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Preparing Demo</td>
        <td>Decision</td>
        <td>Low</td>
        <td>Not Started</td>
      </tr>
    </tbody>
  </table>